@font-face {
    font-family: 'Norwester';
    src: url(./fonts/norwester.otf) format('opentype');
}

@font-face {
    font-family: "roboto";
    src: url(./fonts/Roboto-Medium.ttf);
}



* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "roboto";
    background-color: rgb(241, 241, 241);

}


header {
    z-index: 1;
    background-color: rgb(47, 69, 90);
    position: sticky;
    top: 0;
}

footer {
    background-color: rgb(47, 69, 90);
    margin: 0;
    z-index: 1;
    padding: 10px;
    margin-top: auto;

}

#header-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 30px;
    max-height: 40px;

}

#logo {
    font-family: "Norwester";
    font-size: 35px;
    align-content: center;
    background-image: linear-gradient(to bottom right,rgb(224, 134, 216), rgb(211, 216, 143));
    color: transparent;
    background-clip: text;

}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

.nav {
    height: 30px;
    align-self: center;
    border: none;
    font-family: "roboto";
    font-size: 18px;
    background: none;
    color: rgb(211, 211, 211);
}

.nav:hover {

    color: rgb(224, 134, 216);
}

#content {
    font-family: "Norwester";
}

input[type="checkbox"], label {
    display: none;
}

#footer-content {
    min-height: 60px;
}

#footer-content > p {
    margin: 0;
    text-align: center;
}

#home-page {
    padding: 0px;
    margin: 0px;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 1000px;
    z-index: 0;
    flex: 1;
}

#home-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px) brightness(30%);
    z-index: 0;
}

/*Menu Page */

.menu-div {
    height: 100vh;
}


.menu-content {
    background-color: bisque;
    width: 80%;
    border-radius: 16px;
    margin: 60px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    place-items: center;
}

.menu-card {
    background-color: blueviolet;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    height: 150px;
    min-width: 325px;
    max-width: 350px;
    gap: 16px;
}

.item-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-info > span {
    margin-top: auto;
    border-top: 2px dotted black;
    padding-top: 4px;
    color: pink;
}


@media (max-width: 930px) {

    .menu-content {
        width:fit-content;
    }
}



@media (max-width: 650px) {

    input[type="checkbox"]:not(:checked)+#buttons {
    display: none;
    }


    #buttons{
        display: flex;
        flex-direction: column;
        background-color: rgb(230, 230, 230);
        padding: 6px;
        gap: 4px;
        width: 200px;
        justify-self: end;
        position: relative;
        left: 35px;
        border-radius: 8px;
    }

    .nav {
        width: 200px;
        border-radius: 8px;
        color: rgb(107, 107, 107);
    }

    .nav:hover {
    background-color: rgb(196, 196, 196);
    }

    #header-content {

        grid-template-columns: 5fr 1fr;
    }



    #header-content > label {
        display: block;
        width: 35px;
        align-self: center;
    }
}