@font-face {
    font-family: 'Norwester';
    src: url(./fonts/norwester.otf) format('opentype');
}

@font-face {
    font-family: "roboto";
    src: url(./fonts/Roboto-Medium.ttf);
}



* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "roboto";
    background-color: rgb(241, 241, 241);

}


header {
    z-index: 1;
    background-color: #274C77;
    position: sticky;
    top: 0;
}

footer {
    background-color: #274C77;
    margin: 0;
    z-index: 1;
    padding: 10px;
    margin-top: auto;
    height: 80px;
    text-align: center;
    color: rgb(151, 151, 151);

}

#photo-links {
    padding-top: 8px;
}

#footer-content > p {
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(151, 151, 151);
}

a {
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 12px;
    
}



#header-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 30px;
    max-height: 40px;

}

#logo {
    font-family: "Norwester";
    font-size: 35px;
    align-content: center;
    background-image: linear-gradient(to bottom right,#F4EAD1, #D4AF37);
    color: transparent;
    background-clip: text;

}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

.nav {
    height: 30px;
    align-self: center;
    border: none;
    font-family: "roboto";
    font-size: 18px;
    background: none;
    color: rgb(211, 211, 211);
}

.nav:hover {

    color: #D4AF37;
}

#content {
    font-family: "Norwester";
}

input[type="checkbox"], label {
    display: none;
}

#footer-content {
    min-height: 60px;
}

#footer-content > p {
    margin: 0;
    text-align: center;
}

#home-page {
    padding: 0px;
    margin: 0px;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 1000px;
    z-index: 0;
    flex: 1;
}

#home-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px) brightness(30%);
    z-index: 0;
}

/*Menu Page */

.menu-div {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #151b29
}


.menu-content {
    background-color: #203147;
    width: 80%;
    border-radius: 16px;
    margin: 60px auto;
    padding: 15px 40px 40px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    place-items: center;
}

h2 {
    grid-column: 1/-1;
    border-bottom: 2px solid #F4EAD1;
    color: #F4EAD1;
    margin-bottom: 12px;
}

h3 {
    color: #151515;
}



.menu-card {
    background-color: #a8a190;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    min-width: 325px;
    max-width: 375px;
    gap: 16px;
}

.item-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1;

}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-info > p {
    padding-top: 6px;
    color: #3A322B;
}

.item-info > span {
    margin-top: auto;
    border-top: 2px dotted black;
    padding-top: 4px;
    color: #000000;
}




@media (max-width: 700px) {

    input[type="checkbox"]:not(:checked)+#buttons {
    display: none;
    }

    .menu-div {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    }


    #buttons{
        display: flex;
        flex-direction: column;
        background-color: rgb(177, 177, 177);
        padding: 6px;
        gap: 4px;
        width: 200px;
        justify-self: end;
        position: relative;
        left: 35px;
        border-radius: 8px;
    }

    .nav {
        width: 200px;
        border-radius: 8px;
        color: rgb(107, 107, 107);
    }

    .nav:hover {
    background-color: rgb(116, 116, 116);
    }

    #header-content {

        grid-template-columns: 5fr 1fr;
    }



    #header-content > label {
        display: block;
        width: 35px;
        align-self: center;
    }
}