@font-face {
    font-family: 'Norwester';
    src: url(./fonts/norwester.otf) format('opentype');
}

@font-face {
    font-family: "roboto";
    src: url(./fonts/Roboto-Medium.ttf);
}





body {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}


header {
 background-color: rgb(12, 64, 112);
}

#header-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 30px;
    max-height: 40px
}

#logo {
    font-family: "Norwester";
    font-size: 35px;
    align-content: center;
    color: rgb(224, 134, 216);
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

.nav {
    height: 30px;
    align-self: center;
    border: none;
    font-family: "roboto";
    font-size: 18px;
    background: none;
    color: rgb(211, 211, 211);
}

.nav:hover {

    color: rgb(224, 134, 216);
}

#content {
    background-color: rgb(241, 241, 241);
    font-family: "Norwester";
}

input[type="checkbox"], label {
    display: none;
}



@media (max-width: 650px) {

    input[type="checkbox"]:not(:checked)+#buttons {
    display: none;
    }

    #buttons{
        display: flex;
        flex-direction: column;
        background-color: rgb(230, 230, 230);
        padding: 6px;
        gap: 4px;
        width: 200px;
        justify-self: end;
        position: relative;
        left: 35px;
        border-radius: 8px;
    }

    .nav {
        width: 200px;
        border-radius: 8px;
        color: rgb(107, 107, 107);
    }

    .nav:hover {
    background-color: rgb(196, 196, 196);
    }

    #header-content {

        grid-template-columns: 5fr 1fr;
    }



    #header-content > label {
        display: block;
        width: 35px;
        align-self: center;
    }
}